body{
    color: white;
    background: black;
    margin: 5px
 font-family; "Chakra Petch" ans-serif;
     




header{
    border-bottom: solid 2px  rbg(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section{
   background: rgb(184, 156, 213);
   padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: left;
}

.chamada-texto{
  margin-right: 5%;
}
h1{
    font: size 40px;
}

img {
    height: 200px;
}


.categoria-videos{
    
}